**/.idea
**/.ipynb_checkpoints
**/.udacity-pa
**/__pycache__
**/examples
**/data
*.json
*.html
*.zip
*.pth
*.pt
*.net
*.pkl

# Dataset for Lab 6
labs/06-transfer-learning/flower_photos

# Dataset for Lab 19
labs/19-cycle-gan/summer2winter_yosemite

# Dataset for Project 2
projects/2-dog-classification/lfw
projects/2-dog-classification/dogImages

# Dataset for Project 3
projects/3-tv-scripts-generation/preprocess.p

# Dataset for Project 4
projects/4-face-generation/processed_celeba_small
